body.welcome {
  background: url('/images/coffee-mug.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: cover;
}

.flash {
  border: 1px solid black;
  padding: 1em;
  background: #eee;
}

.alert  { color: red;  }
.notice { color: blue; }
